/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ICONS */
@import url('https://css.gg/css');

/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*   transition: all 0.5s; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #fff;
  /*   overflow: hidden; */
  overflow-x: hidden;
}

/* Header and navbar styles */
.header {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10vh 90vh;
}

.navbar {
  background-color: #343a40;
  grid-column: 2;
  grid-row: 1;
}

.nome-paginas {
  height: 100%;
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  align-items: center;
}

.nome-paginas li {
  font-weight: 400;
  color: #fff;
  font-size: 2.4rem;
  list-style-type: none;
}

.nome-paginas li::after {
  content: '';
  display: block;
  background-color: #9775fa;
  width: 100%;
  transition: height 0.5s;
  background-image: url(./img/gif.gif) !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.nome-paginas li:hover::after {
  margin-top: 0.2rem;
  height: 0.8rem;
}

.link-home {
  color: #fff;
  text-decoration: none;
}

.link-projetos {
  color: #fff;
  text-decoration: none;
}

.link-contato {
  color: #fff;
  text-decoration: none;
}

.intro {
  background-color: #212529;
  grid-column: 1;
  grid-row: 1 / 3;
  position: relative;
}

.intro-frases {
  width: 100%;
  position: absolute;
  left: 15vw;
  top: 60vh;
}

.intro-frases span {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  word-spacing: -1.2rem;
}

.frase {
  font-size: 5.2rem;
}

.nome {
  font-size: 6.2rem;
  font-weight: 600;
}

.profissao {
  width: fit-content;
  background-color: #9775fa;
  background-image: url(./img/gif.gif) !important;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 3.6rem;
  padding: 1.2rem;
  margin-top: 1.2rem;
}

.saiba-mais {
  color: #9775fa !important;
  font-size: 2.4rem;
  margin-top: 1.2rem;
  word-spacing: -0.4rem !important;
}

.saiba-mais a {
  color: #9775fa;
  text-decoration: none;
}

.saiba-mais a:hover {
  color: #d0bfff !important;
}

.foto {
  background-color: #343a40;
  grid-column: 2;
  grid-row: 2;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main styles */
.apresentacao {
  color: #fff;
  height: 80vh;
  background-color: #24282c;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-content: center;
}

.apresentacao-titulos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.apresentacao-titulo {
  font-size: 3rem;
  margin-left: 12.8rem;
}

.apresentacao-subtitulo {
  font-size: 7.4rem;
}

.apresentacao-subtitulo::after {
  content: '';
  display: block;
  background-color: #9775fa;
  width: 75%;
  height: 1rem;
  background-image: url(./img/gif.gif) !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.apresentacao-textos {
  width: 75%;
  font-size: 2.4rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: left;
}

.linguagem-cor {
  font-weight: 400;
  color: #9775fa;
}
.linguagem-cor:hover {
  color: #d0bfff;
}

/* Footer styles */
.footer {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  height: 20vh;
  background-color: #343a40;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  row-gap: 4.8rem;
}

.quote {
  grid-column: 1;
  grid-row: 1;
}

.quote span:hover {
  color: #9775fa;
}

.github {
  grid-column: 1;
  grid-row: 2;
}

.github span {
  color: #9775fa;
}

.github a {
  color: #9775fa;
  text-decoration: none;
}

.github a:hover {
  color: #d0bfff !important;
}

.contato {
  grid-column: 2;
  grid-row: 1;
}
.paginas-footer {
  grid-column: 2;
  grid-row: 2;
}

.paginas-footer li {
  list-style-type: none;
}

.paginas-footer a:hover {
  color: #d0bfff;
}

.nome-paginas-footer {
  display: flex;
  gap: 3.2rem;
}
